@import '../styles/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "serif";
  color: #ffffff;
  background: #1e293b;
}