.skills {
  padding: 8rem 4rem 6rem;
  margin: auto;
}

.skills h2 {
  font-size: 4.5rem;
  line-height: 1;
  letter-spacing: .06em;
  font-weight: 700;
  text-transform: uppercase;
}

.skills p {
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: .025em;
  font-weight: 400;
}

.skills hr {
  margin: 2rem 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
}

.card {
  padding: 1.5rem;
  border-radius: 8px;
  background-color: #ffffff;
}

.imageCard {
  width: 3.2rem;
  height: 3.5rem;
  background-color: #556a8d;
  border-radius: 8px;
  padding: 0.65rem;
  margin-bottom: 2rem;
}

.card:hover .imageCard {
  background-color: #1e293b;
}

.skillImage {
  width: 2rem;
  height: 2rem;
  /* object-fit: contain; */
}

.card h3 {
  margin-bottom: 0.75rem;
  color: #556a8d;
  font-size: 1.5rem;
  line-height: 1.4;
  letter-spacing: .03em;
  font-weight: 700;
  text-transform: uppercase;
}

.card:hover h3 {
  color: #1e293b;
}

.progressBar {
  width: 100%;
  height: 0.3rem;
  background-color: #e5e7eb;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.progressBar > div {
  height: 100%;
  border-radius: 1rem;
}

.card ul {
  list-style: none;
  padding: 0;
}

.card li {
  margin-bottom: 0.5rem;
  color: #000000;
  font-size: .875rem;
  line-height: 1.3;
  letter-spacing: .02em;
  font-weight: 400;
}